In [1]:
# 1. Imports
import os
import json
import pandas as pd
import psycopg2
from dotenv import load_dotenv
from psycopg2.extras import execute_values

In [2]:
# 2. Extract JSON â†’ DataFrames

def agg_insur_data():
    path_1="D:\\capstone_project\\pulse_repo\\data\\aggregated\\insurance\\country\\india\\state\\"
    agg_trans_list=os.listdir(path_1)
    column_1={'State':[], 'Year':[],'quarter':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}
    for state in agg_trans_list:
        path_states=path_1+state+"/"
        for year in os.listdir(path_states):
            path_year=path_states+year+"/"
            for file in os.listdir(path_year):
                path_file=path_year+file
                data=open(path_file,"r")
                D=json.load(data)
                for z in D["data"]["transactionData"]:
                    Name=z["name"]
                    count=z['paymentInstruments'][0]['count']
                    amount=z['paymentInstruments'][0]['amount']
                    column_1["State"].append(state)
                    column_1["Year"].append(year)
                    column_1["Transaction_type"].append(Name)
                    column_1["Transaction_count"].append(count)
                    column_1["Transaction_amount"].append(amount)
                    column_1["quarter"].append(int(file.strip(".json")))
    df_1=pd.DataFrame(column_1)
    df_1["State"]=df_1["State"].str.replace('andaman-&-nicobar-islands','andaman & nicobar')
    df_1["State"]=df_1["State"].str.replace("-"," ")
    df_1["State"]=df_1["State"].str.title()
    df_1["State"]=df_1["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")
    return df_1

def agg_trans_data():
    path_2="D:\\capstone_project\\pulse_repo\\data\\aggregated\\transaction\\country\\india\\state\\"
    agg_trans_list=os.listdir(path_2)
    column_2={'State':[], 'Year':[],'quarter':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}
    for state in agg_trans_list:
        path_states=path_2+state+"/"
        for year in os.listdir(path_states):
            path_year=path_states+year+"/"
            for file in os.listdir(path_year):
                path_file=path_year+file
                data=open(path_file,"r")
                D=json.load(data)
                for z in D["data"]["transactionData"]:
                    Name=z["name"]
                    count=z['paymentInstruments'][0]['count']
                    amount=z['paymentInstruments'][0]['amount']
                    column_2["State"].append(state)
                    column_2["Year"].append(year)
                    column_2["Transaction_type"].append(Name)
                    column_2["Transaction_count"].append(count)
                    column_2["Transaction_amount"].append(amount)
                    column_2["quarter"].append(int(file.strip(".json")))
    df_2=pd.DataFrame(column_2)
    df_2["State"]=df_2["State"].str.replace('andaman-&-nicobar-islands','andaman & nicobar')
    df_2["State"]=df_2["State"].str.replace("-"," ")
    df_2["State"]=df_2["State"].str.title()
    df_2["State"]=df_2["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")
    return df_2

def agg_user_data():
    path_3="D:\\capstone_project\\pulse_repo\\data\\aggregated\\user\\country\\india\\state\\"
    column_3={'State':[], 'Year':[],'quarter':[],'user_Brand':[], 'user_count':[], 'user_percentage':[]}
    for state in os.listdir(path_3):
        for year in os.listdir(path_3+state+"/"):
            for file in os.listdir(path_3+state+"/"+year+"/"):
                data=open(path_3+state+"/"+year+"/"+file,"r")
                D=json.load(data)
                try:
                    for z in D["data"]["usersByDevice"]:
                        column_3["State"].append(state)
                        column_3["Year"].append(year)
                        column_3["user_Brand"].append(z["brand"])
                        column_3["user_count"].append(z["count"])
                        column_3["user_percentage"].append(z["percentage"])
                        column_3["quarter"].append(int(file.strip(".json")))
                except:
                    pass
    df_3=pd.DataFrame(column_3)
    df_3["State"]=df_3["State"].str.replace('andaman-&-nicobar-islands','andaman & nicobar')
    df_3["State"]=df_3["State"].str.replace("-"," ")
    df_3["State"]=df_3["State"].str.title()
    df_3["State"]=df_3["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")
    return df_3

def map_insur_data():
    path_4="D:\\capstone_project\\pulse_repo\\data\\map\\insurance\\hover\\country\\india\\state\\"
    column_4={'State':[],'Year':[], 'District':[], 'quarter':[], 'Transaction_count':[], 'Transaction_amount':[]}
    for state in os.listdir(path_4):
        for year in os.listdir(path_4+state+"/"):
            for file in os.listdir(path_4+state+"/"+year+"/"):
                data=open(path_4+state+"/"+year+"/"+file,"r")
                D=json.load(data)
                for z in D["data"]["hoverDataList"]:
                    column_4["State"].append(state)
                    column_4["Year"].append(year)
                    column_4["District"].append(z["name"])
                    column_4["Transaction_count"].append(z["metric"][0]["count"])
                    column_4["Transaction_amount"].append(z["metric"][0]["amount"])
                    column_4["quarter"].append(int(file.strip(".json")))
    df_4=pd.DataFrame(column_4)
    df_4["State"]=df_4["State"].str.replace('andaman-&-nicobar-islands','andaman & nicobar')
    df_4["State"]=df_4["State"].str.replace("-"," ")
    df_4["State"]=df_4["State"].str.title()
    df_4["State"]=df_4["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")
    return df_4

def map_trans_data():
    path_5="D:\\capstone_project\\pulse_repo\\data\\map\\transaction\\hover\\country\\india\\state\\"
    column_5={'State':[],'Year':[], 'District':[], 'quarter':[], 'Transaction_count':[], 'Transaction_amount':[]}
    for state in os.listdir(path_5):
        for year in os.listdir(path_5+state+"/"):
            for file in os.listdir(path_5+state+"/"+year+"/"):
                data=open(path_5+state+"/"+year+"/"+file,"r")
                D=json.load(data)
                for z in D["data"]["hoverDataList"]:
                    column_5["State"].append(state)
                    column_5["Year"].append(year)
                    column_5["District"].append(z["name"])
                    column_5["Transaction_count"].append(z["metric"][0]["count"])
                    column_5["Transaction_amount"].append(z["metric"][0]["amount"])
                    column_5["quarter"].append(int(file.strip(".json")))
    df_5=pd.DataFrame(column_5)
    df_5["State"]=df_5["State"].str.replace('andaman-&-nicobar-islands','andaman & nicobar')
    df_5["State"]=df_5["State"].str.replace("-"," ")
    df_5["State"]=df_5["State"].str.title()
    df_5["State"]=df_5["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")
    return df_5

def map_user_data():
    path_6="D:\\capstone_project\\pulse_repo\\data\\map\\user\\hover\\country\\india\\state\\"
    column_6={'State':[],'District':[],'Year':[],'quarter':[],'Registered_Users':[],'App_Opens':[]}
    for state in os.listdir(path_6):
        for year in os.listdir(path_6+state+"/"):
            for file in os.listdir(path_6+state+"/"+year+"/"):
                data=open(path_6+state+"/"+year+"/"+file,"r")
                D=json.load(data)
                for z in D["data"]["hoverData"].items():
                    column_6["State"].append(state)
                    column_6["Year"].append(year)
                    column_6["District"].append(z[0])
                    column_6["Registered_Users"].append(z[1]["registeredUsers"])
                    column_6["App_Opens"].append(z[1]["appOpens"])
                    column_6["quarter"].append(int(file.strip(".json")))
    df_6=pd.DataFrame(column_6)
    df_6["State"]=df_6["State"].str.replace('andaman-&-nicobar-islands','andaman & nicobar')
    df_6["State"]=df_6["State"].str.replace("-"," ")
    df_6["State"]=df_6["State"].str.title()
    df_6["State"]=df_6["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")
    return df_6

def top_insur_data():
    path_7="D:\\capstone_project\\pulse_repo\\data\\top\\insurance\\country\\india\\state\\"
    column_7= {'State':[],'Pincode':[],'Year':[],'quarter':[], 'Transaction_count':[], 'Transaction_amount':[]}
    for state in os.listdir(path_7):
        for year in os.listdir(path_7+state+"/"):
            for file in os.listdir(path_7+state+"/"+year+"/"):
                data=open(path_7+state+"/"+year+"/"+file,"r")
                D=json.load(data)
                for z in D["data"]["pincodes"]:
                    column_7["State"].append(state)
                    column_7["Year"].append(year)
                    column_7["Pincode"].append(z["entityName"])
                    column_7["Transaction_count"].append(z["metric"]["count"])
                    column_7["Transaction_amount"].append(z["metric"]["amount"])
                    column_7["quarter"].append(int(file.strip(".json")))
    df_7=pd.DataFrame(column_7)
    df_7["State"]=df_7["State"].str.replace('andaman-&-nicobar-islands','andaman & nicobar')
    df_7["State"]=df_7["State"].str.replace("-"," ")
    df_7["State"]=df_7["State"].str.title()
    df_7["State"]=df_7["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")
    return df_7

def top_trans_data():
    path_8="D:\\capstone_project\\pulse_repo\\data\\top\\transaction\\country\\india\\state\\"
    column_8= {'State':[],'Pincode':[],'Year':[],'quarter':[], 'Transaction_count':[], 'Transaction_amount':[]}
    for state in os.listdir(path_8):
        for year in os.listdir(path_8+state+"/"):
            for file in os.listdir(path_8+state+"/"+year+"/"):
                data=open(path_8+state+"/"+year+"/"+file,"r")
                D=json.load(data)
                for z in D["data"]["pincodes"]:
                    column_8["State"].append(state)
                    column_8["Year"].append(year)
                    column_8["Pincode"].append(z["entityName"])
                    column_8["Transaction_count"].append(z["metric"]["count"])
                    column_8["Transaction_amount"].append(z["metric"]["amount"])
                    column_8["quarter"].append(int(file.strip(".json")))
    df_8=pd.DataFrame(column_8)
    df_8["State"]=df_8["State"].str.replace('andaman-&-nicobar-islands','andaman & nicobar')
    df_8["State"]=df_8["State"].str.replace("-"," ")
    df_8["State"]=df_8["State"].str.title()
    df_8["State"]=df_8["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")
    return df_8

def top_user_data():
    path_9="D:\\capstone_project\\pulse_repo\\data\\top\\user\\country\\india\\state\\"
    column_9={'State':[],'Pincode':[],'Year':[],'quarter':[],'Registered_Users':[]}
    for state in os.listdir(path_9):
        for year in os.listdir(path_9+state+"/"):
            for file in os.listdir(path_9+state+"/"+year+"/"):
                data=open(path_9+state+"/"+year+"/"+file,"r")
                D=json.load(data)
                for z in D["data"]["pincodes"]:
                    column_9["State"].append(state)
                    column_9["Year"].append(year)
                    column_9["Pincode"].append(z["name"])
                    column_9["Registered_Users"].append(z["registeredUsers"])
                    column_9["quarter"].append(int(file.strip(".json")))
    df_9=pd.DataFrame(column_9)
    df_9["State"]=df_9["State"].str.replace('andaman-&-nicobar-islands','andaman & nicobar')
    df_9["State"]=df_9["State"].str.replace("-"," ")
    df_9["State"]=df_9["State"].str.title()
    df_9["State"]=df_9["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")
    return df_9

# Run all extractors
df_1, df_2, df_3, df_4, df_5, df_6,df_7,df_8,df_9 = agg_insur_data(),agg_trans_data(), agg_user_data(),map_insur_data(), map_trans_data(), map_user_data(), top_insur_data(),top_trans_data(), top_user_data()

In [ ]:
# 3. Connect to Render PostgreSQL
load_dotenv()

DB_HOST = os.getenv("RENDER_DB_HOST")
DB_PORT = os.getenv("RENDER_DB_PORT")
DB_NAME = os.getenv("RENDER_DB_NAME")
DB_USER = os.getenv("RENDER_DB_USER")
DB_PASSWORD = os.getenv("RENDER_DB_PASSWORD")

conn = psycopg2.connect(
    host=DB_HOST,
    port=DB_PORT,
    dbname=DB_NAME,
    user=DB_USER,
    password=DB_PASSWORD
)
cur = conn.cursor()
print(" Connected to PostgreSQL")



# -----------------------------
# 5. Create Tables (correct schema)
# -----------------------------
create_queries = [
    """
    CREATE TABLE IF NOT EXISTS  agg_insur (
        state TEXT,
        year INT,
        quarter TEXT,
        transaction_type TEXT,
        transaction_count BIGINT,
        transaction_amount NUMERIC
    )
    """,
    """
    CREATE TABLE IF NOT EXISTS  agg_trans (
        state TEXT,
        year INT,
        quarter TEXT,
        transaction_type TEXT,
        transaction_count BIGINT,
        transaction_amount NUMERIC
    )
    """,
    """
    CREATE TABLE IF NOT EXISTS  agg_user (
        state TEXT,
        year INT,
        quarter TEXT,
        user_brand TEXT,
        user_count BIGINT,
        user_percentage NUMERIC
    )
    """,
    """
    CREATE TABLE IF NOT EXISTS  map_insur (
        state TEXT,
        year INT,
        district TEXT,
        quarter TEXT,
        transaction_count BIGINT,
        transaction_amount NUMERIC
    )
    """,
    """
    CREATE TABLE IF NOT EXISTS  map_trans (
        state TEXT,
        year INT,
        district TEXT,
        quarter TEXT,
        transaction_count BIGINT,
        transaction_amount NUMERIC
    )
    """,
    """
    CREATE TABLE IF NOT EXISTS  map_user (
        state TEXT,
        district TEXT,
        year INT,
        quarter TEXT,
        registered_users BIGINT,
        app_opens BIGINT
    )
    """,
    """
    CREATE TABLE IF NOT EXISTS  top_insur (
        state TEXT,
        pincode BIGINT,
        year INT,
        quarter TEXT,
        transaction_count BIGINT,
        transaction_amount NUMERIC
    )
    """,
    """
    CREATE TABLE IF NOT EXISTS  top_trans (
        state TEXT,
        pincode BIGINT,
        year INT,
        quarter TEXT,
        transaction_count BIGINT,
        transaction_amount NUMERIC
    )
    """,
    """
    CREATE TABLE IF NOT EXISTS  top_user (
        state TEXT,
        pincode BIGINT,
        year INT,
        quarter TEXT,
        registered_users BIGINT
    )
    """
]

for query in create_queries:
    cur.execute(query)
conn.commit()
print(" New tables created successfully!")

# -----------------------------

 Connected to PostgreSQL
 New tables created successfully!

In [ ]:

# 5. Insert Data into Tables
# 6. Insert Function
# -----------------------------
def insert_dataframe_fast(df, table, cols):
    # Ensure lowercase columns in DataFrame
    df.columns = df.columns.str.lower()

    # Convert DataFrame into list of tuples
    values = [tuple(row[c] for c in cols) for _, row in df.iterrows()]

    # Build SQL
    sql = f"INSERT INTO {table} ({','.join(cols)}) VALUES %s"

    # Bulk insert
    execute_values(cur, sql, values, page_size=10000)
    conn.commit()
    print(f" Inserted {len(df)} rows into {table}")

# -----------------------------
# 7. Insert All DataFrames
# -----------------------------
insert_dataframe_fast(df_1, "agg_insur", ["state","year","quarter","transaction_type","transaction_count","transaction_amount"])
insert_dataframe_fast(df_2, "agg_trans", ["state","year","quarter","transaction_type","transaction_count","transaction_amount"])
insert_dataframe_fast(df_3, "agg_user", ["state","year","quarter","user_brand","user_count","user_percentage"])
insert_dataframe_fast(df_4, "map_insur", ["state","year","district","quarter","transaction_count","transaction_amount"])
insert_dataframe_fast(df_5, "map_trans", ["state","year","district","quarter","transaction_count","transaction_amount"])
insert_dataframe_fast(df_6, "map_user", ["state","district","year","quarter","registered_users","app_opens"])
insert_dataframe_fast(df_7, "top_insur", ["state","pincode","year","quarter","transaction_count","transaction_amount"])
insert_dataframe_fast(df_8, "top_trans", ["state","pincode","year","quarter","transaction_count","transaction_amount"])
insert_dataframe_fast(df_9, "top_user", ["state","pincode","year","quarter","registered_users"])

# -----------------------------
# 8. Close Connection
# -----------------------------
cur.close()
conn.close()
print("All DataFrames stored successfully in PostgreSQL!")

 Inserted 682 rows into agg_insur
 Inserted 5034 rows into agg_trans
 Inserted 6732 rows into agg_user
 Inserted 13876 rows into map_insur
 Inserted 20604 rows into map_trans
 Inserted 20608 rows into map_user
 Inserted 6668 rows into top_insur
 Inserted 9999 rows into top_trans
 Inserted 10000 rows into top_user
All DataFrames stored successfully in PostgreSQL!